<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89404875984-tka77uu79f5d8u7gnqnf26vt0jfnbj2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89404875984-tka77uu79f5d8u7gnqnf26vt0jfnbj2e</string>
	<key>API_KEY</key>
	<string>AIzaSyBWq97uMbloRy8Ue_00aPp9-XbixbmYhxg</string>
	<key>GCM_SENDER_ID</key>
	<string>89404875984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ischolarshipFeApp</string>
	<key>PROJECT_ID</key>
	<string>ischolarship-egg</string>
	<key>STORAGE_BUCKET</key>
	<string>ischolarship-egg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89404875984:ios:a7fa16242ca5af3670ead5</string>
</dict>
</plist>